html{
  font-family: "Inconsolata";
  color: black;
}

a {
  text-decoration: none;
}

hr {
  border: none;
  height: 10px;
  background-color: #030303;
}

div.question {

}

div.testanswer {
  background-color: black;
  color: #d3d3d3;
  font-size: xx-large;
}

div.answerquestionlink {
  border-color: #a9a9a9;
  border-style: solid;
  border-width: 1px;
}

div.exammeta {
  background-color: #8b0000;
  color: #d3d3d3;
  font-weight: bold;
}

div.testmeta {
  background-color: #808080;
  font-size: small;
  font-weight: bold;
}

/* done */
div.testquestion {
  background-color: #d3d3d3;
  font-size: large;
}

div.questionanswerlink {
  border-color: #a9a9a9;
  border-style: solid;
  border-width: 1px;
}

div.multichoiceanswer {
  
}

div.directanswer {

}

div.multianswer {
  
}

.emphasis {
  font-style: italic;
}

.strong {
  font-weight: bold;
}

.strikeout {
  text-decoration: line-through;
}
