body {
  font-family: "Inconsolata";
  background: #eee;
  margin: 33px;
  color: #333;
}

a:link {
  text-decoration: none;
  color: #555;
}

a:visited {
  text-decoration: none;
  color: #777;
}

a:hover, a:active {
  text-decoration: underline;
  color: maroon;
}
